<%= erb :'layouts/navbar', layout: false %>

<div class="container">
	<h4 class="ques-ans-row">All Questions</h4>
	<% @all_qu.each do |row| %>
		<div class="ques-ans-row">
			<p class="question-info">Asked by <a href="/users/<%= row.user_id %>"><%= User.find(row.user_id).name %></a> · <%= row.created_at %></p>
			<p class="question-text"><a href="/questions/<%= row.id %>"><%= row.text %></a></p>
			<p class="question-info">
				<%= row.answers.count %>
				<% if row.answers.count > 1 %>
					 Answers
				<% else %>
					 Answer
				<% end %>
			</p>
			<div class="up-down-vote">
				<form class="upvote-form" method="post" action="/questions/<%= row.id %>/upvote">
					<%= set_question_vote_button_color(row, "upvote") %>
						<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= row.question_votes.where(vote: 1).count %>
					</button>
				</form>
				<form class="downvote-form" method="post" action="/questions/<%= row.id %>/downvote">
					<%= set_question_vote_button_color(row, "downvote") %>
						<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= row.question_votes.where(vote: -1).count %>
					</button>
				</form>
			</div>
		</div>
	<% end %>
</div>
