<nav class="navbar navbar-default">
	<div class="navbar-content">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img id="navbar-logo" alt="Quora" src="https://qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg">
			</a>
		</div>
		<% if !logged_in? %>
			<a class="btn btn-default navbar-btn" href="/sessions/new">Log In</a>
			<a class="btn btn-default navbar-btn" href="/users/new">Sign Up</a>
		<% else %>
			<form class="navbar-form navbar-left" action="/questions" method="post">
				<div class="form-group">
					<input type="text" class="form-control navbar-input" name="question_text" placeholder="Ask a Question">
				</div>
				<button type="submit" class="btn btn-default navbar-submit">Ask</button>
			</form>
			<a class="btn btn-default navbar-btn" href="/sessions/destroy" method="post">Log Out</a>
			<a class="btn btn-default navbar-btn" href="/users/<%= current_user.id %>" method="post">Profile</a>
		<% end %>
	</div>
</nav>

<div class="container">
	<h4 class="ques-ans-row">All Questions</h4>
	<% @all_qu.each do |row| %>
		<div class="ques-ans-row">
			<p class="question-info">Asked by <a href="/users/<%= row.user_id %>"><%= User.find(row.user_id).name %></a> · <%= row.created_at %></p>
			<p class="question-text"><a href="/questions/<%= row.id %>"><%= row.text %></a></p>
			<div class="up-down-vote">
				<form class="upvote-form" method="post" action="/questions/<%= row.id %>/upvote">
					<% if row.question_votes.find_by(user_id: current_user.id) == nil || row.question_votes.find_by(user_id: current_user.id).vote == -1 %>
						<button type="submit" class="btn btn-default btn-sm">
					<% elsif row.question_votes.find_by(user_id: current_user.id).vote == 1 %>
						<button type="submit" class="btn btn-default btn-sm btn-grey">
					<% end %>
							<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= row.question_votes.where(vote: 1).count %>
						</button>
				</form>
				<form class="downvote-form" method="post" action="/questions/<%= row.id %>/downvote">
					<% if row.question_votes.find_by(user_id: current_user.id) == nil || row.question_votes.find_by(user_id: current_user.id).vote == 1 %>
						<button type="submit" class="btn btn-default btn-sm">
					<% elsif row.question_votes.find_by(user_id: current_user.id).vote == -1 %>
						<button type="submit" class="btn btn-default btn-sm btn-grey">
					<% end %>
							<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= row.question_votes.where(vote: -1).count %>
						</button>
				</form>
			</div>
		</div>
	<% end %>
</div>
