<nav class="navbar navbar-default">
	<div class="navbar-content">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img id="navbar-logo" alt="Quora" src="https://qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg">
			</a>
		</div>
		<% if !logged_in? %>
			<a class="btn btn-default navbar-btn" href="/sessions/new">Log In</a>
			<a class="btn btn-default navbar-btn" href="/users/new">Sign Up</a>
		<% else %>
			<form class="navbar-form navbar-left" action="/questions" method="post">
				<div class="form-group">
					<input type="text" class="form-control navbar-input" name="question_text" placeholder="Ask a Question">
				</div>
				<button type="submit" class="btn btn-default navbar-submit">Ask</button>
			</form>
			<a class="btn btn-default navbar-btn" href="/sessions/destroy" method="post">Log Out</a>
		<% end %>
	</div>
</nav>

<div class="container">
	<p class="profile-name"><%= @profile.name %></p>
	<p class="profile-email"><%= @profile.email %></p>
</div>

<div class="container profile-ques-ans">
	<div class="profile-questions">
		<h4 class="ques-ans-row">All Questions</h4>
		<% @user_ques.each do |row| %>
			<div class="ques-ans-row">
				<p class="question-info"><%= row.created_at %></p>
				<p class="question-text"><a href="/questions/<%= row.id %>"><%= row.text %></a></p>
			</div>
		<% end %>
	</div>
	<div class="profile-answers">
		<h4 class="ques-ans-row">All Answers</h4>
		<% @user_ans.each do |row| %>
			<div class="ques-ans-row">
				<p class="question-text"><a href="/questions/<%= row.id %>"><%= Question.find(row.question_id).text %></a></p>
				<h5>Your Answer:</h5>
				<p class="question-info"><%= row.created_at %></p>
				<p><%= row.text %></p>
			</div>
		<% end %>
	</div>
</div>