<%= erb :'layouts/navbar', layout: false %>

<div class="container">
	<p class="profile-name"><%= @profile.name %></p>
	<p class="profile-email"><%= @profile.email %></p>
</div>

<div class="container profile-ques-ans">
	<div class="profile-questions">
		<h4 class="ques-ans-row">All Questions</h4>
		<% @user_ques.each do |row| %>
			<div class="ques-ans-row">
				<% if @profile.id == current_user.id %>
					<form class="delete-button" action="/questions/<%= row.id %>" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit">Delete</button>
					</form>
				<% end %>
				<p class="question-info">
					Asked at <%= row.created_at %>
				</p>
				<p class="question-text">
					<a href="/questions/<%= row.id %>"><%= row.text %></a>
				</p>
			</div>
		<% end %>
	</div>
	<div class="profile-answers">
		<h4 class="ques-ans-row">All Answers</h4>
		<% @user_ans.each do |row| %>
			<div class="ques-ans-row">
				<p class="question-text"><a href="/questions/<%= row.id %>"><%= Question.find(row.question_id).text %></a></p>
				<h5>Your Answer:</h5>
				<% if @profile.id == current_user.id %>
					<form class="delete-button" action="/answers/<%= row.id %>" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit">Delete</button>
					</form>
				<% end %>
				<p class="question-info">Answered at <%= row.created_at %></p>
				<p><%= row.text %></p>
			</div>
		<% end %>
	</div>
</div>