<nav class="navbar navbar-default">
	<div class="navbar-content">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<img id="navbar-logo" alt="Quora" src="https://qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg">
			</a>
		</div>
		<% if !logged_in? %>
			<a class="btn btn-default navbar-btn" href="/sessions/new">Log In</a>
			<a class="btn btn-default navbar-btn" href="/users/new">Sign Up</a>
		<% else %>
			<form class="navbar-form navbar-left" action="/questions" method="post">
				<div class="form-group">
					<input type="text" class="form-control navbar-input" name="question_text" placeholder="Ask a Question">
				</div>
				<button type="submit" class="btn btn-default navbar-submit">Ask</button>
			</form>
			<a class="btn btn-default navbar-btn" href="/sessions/destroy" method="post">Log Out</a>
			<a class="btn btn-default navbar-btn" href="/users/<%= current_user.id %>" method="post">Profile</a>
		<% end %>
	</div>
</nav>

<div class="container">
	<div class="ques-ans-row">
		<p class="question-info">Asked by <a href="/users/<%= @question.user_id %>"><%= User.find(@question.user_id).name %></a> · <%= @question.created_at %></p>
		<p class="question-text"><%= @question.text %></p>
		<div class="up-down-vote">
			<form class="upvote-form" method="post" action="/questions/<%= @question.id %>/upvote">
				<%= set_question_vote_button_color(@question, "upvote") %>
					<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= @question.question_votes.where(vote: 1).count %>
				</button>
			</form>
			<form class="downvote-form" method="post" action="/questions/<%= @question.id %>/downvote">
				<%= set_question_vote_button_color(@question, "downvote") %>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= @question.question_votes.where(vote: -1).count %>
				</button>
			</form>
		</div>
	</div>

	<% @question.answers.each do |row| %>
		<div class="ques-ans-row">
			<p class="question-info">Answer by <a href="/users/<%= row.user_id %>"><%= User.find(row.user_id).name %></a> · <%= row.created_at %></p>
			<p><%= row.text %></p>
			<div class="up-down-vote">
				<form class="upvote-form" method="post" action="/answers/<%= row.id %>/upvote">
					<%= set_answer_vote_button_color(row, "upvote") %>
						<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= row.answer_votes.where(vote: 1).count %>
					</button>
				</form>
				<form class="downvote-form" method="post" action="/answers/<%= row.id %>/downvote">
					<%= set_answer_vote_button_color(row, "downvote") %>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= row.answer_votes.where(vote: -1).count %>
				</button>
				</form>
			</div>
		</div>
	<% end %>
	
	<p>Your Answer</p>
	<form id="answer-form" method="post" action="/questions/<%= @question.id %>/answers">
		<div class="form-group">
		<textarea class="answer-input" name="answer_text" placeholder="Answer here..."></textarea>
		<p class="error-msg"></p>
		<button type="submit" class="btn btn-primary">Answer Question</button>
		</div>
	</form>
	
</div>