<%= erb :'layouts/navbar', layout: false %>

<div class="container">
	<div class="ques-ans-row">
		<p class="question-info">Asked by <a href="/users/<%= @question.user_id %>"><%= User.find(@question.user_id).name %></a> · <%= @question.created_at %></p>
		<p class="question-text"><%= @question.text %></p>
		<div class="up-down-vote">
			<form class="upvote-form" method="post" action="/questions/<%= @question.id %>/upvote">
				<%= set_question_vote_button_color(@question, "upvote") %>
					<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= @question.question_votes.where(vote: 1).count %>
				</button>
			</form>
			<form class="downvote-form" method="post" action="/questions/<%= @question.id %>/downvote">
				<%= set_question_vote_button_color(@question, "downvote") %>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= @question.question_votes.where(vote: -1).count %>
				</button>
			</form>
		</div>
	</div>

	<% @question.answers.each do |row| %>
		<div class="ques-ans-row">
			<p class="question-info">Answer by <a href="/users/<%= row.user_id %>"><%= User.find(row.user_id).name %></a> · <%= row.created_at %></p>
			<p><%= row.text %></p>
			<div class="up-down-vote">
				<form class="upvote-form" method="post" action="/answers/<%= row.id %>/upvote">
					<%= set_answer_vote_button_color(row, "upvote") %>
						<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= row.answer_votes.where(vote: 1).count %>
					</button>
				</form>
				<form class="downvote-form" method="post" action="/answers/<%= row.id %>/downvote">
					<%= set_answer_vote_button_color(row, "downvote") %>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> <%= row.answer_votes.where(vote: -1).count %>
				</button>
				</form>
			</div>
		</div>
	<% end %>
	
	<p>Your Answer</p>
	<form id="answer-form" method="post" action="/questions/<%= @question.id %>/answers">
		<div class="form-group">
		<textarea class="answer-input" name="answer_text" placeholder="Answer here..."></textarea>
		<p class="error-msg"></p>
		<button type="submit" class="btn btn-primary">Answer Question</button>
		</div>
	</form>
	
</div>